<div id="title">
  <div>
    <p><%= @post.created_at.strftime('%Y/%m/%d') + " 書いた人:" + @post.email %></p>
    <h1><%= @post.title %></h1>
  </div>
</div>

<div id="article_wrap">
  <div id="content">
    <%= simple_format @post.body %>
  </div>
</div>
<div id="sidebar">


  <h2>★pv数ランキング</h2>
  <ul>
    <% ranking = Post.most_popular %>
    <% ranking.each do |id, score| %>
    <% post = Post.find(id) %>
    <li>
      <%=link_to post.title, post %>
      <span><%= "(" + score.to_i.to_s + "PV)" %></span>
    </li>
    <% end %>
  </ul>
</div>
